# .gitignore file for the DayDreamer application

# Dependency directories
node_modules/

# Environment configuration
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
uploads/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Editor directories and files
.idea/
*.sublime-project
*.sublime-workspace

# Optional: other files and folders to ignore depending on your project
# .cache/                    # Ignores cache used by some tools like babel
# build/                     # Ignores build directory
# dist/                      # Ignores distribution directory
