
<!-- login.handlebars -->

<!-- Extending from the main layout -->

<!-- Content for the login page -->

    <!-- Section containing the login form -->
<html></html>
    <section class="login-form">
        <h2>Login</h2>

        {{#if message}}
            <p>{{message}}</p>
        {{/if}}

        <!-- Form for login -->
        <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Login to DayDreamer Forum
                </div>
                    <form action="/login" method="POST">

                    <!-- Input field for email -->
                        <div class="form-group">
                             <label for="email">Email:</label>
                                <input type="email" class="form-group" id="email" aria-describedby="emailHelp" name="email" placeholder=" Please enter your email">
                        </div>

                    <!-- Input field for password -->
                        <div class="form-group">
                             <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Please enter you password">
                        </div>

            <!-- Submit button for the form -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>

            <!-- Link to the signup page for users who don't have an account -->
                    <div class="card-footer text-center">
                        <p>Don't have an account? <a href="/signup">Sign up here</a>.</p>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>