<<<<<<< HEAD
.bigbig {
    padding: 60px;
    size: 100px;
  text-align: center;
  background: #13293d;
  color: #fff;
=======
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
>>>>>>> f44d145f74f30fd2e5fb3f3474b39b9fa7e79ae7
}